.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding:20px;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.global-nav nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    font-size: 1.5rem;
}
.content {
    flex: 1;
    background-color: burlywood;
}
footer {
    text-align: center;
    padding: 10px 0;
}
.radio-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}